html,body{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff3378 70%, #ffd800 10%);
}
.corpo{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../img/people3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85%;
}
.left{
    width: 73%;
    height: 100%;
    /*background-color: #ee2d62;
    background-image: url("../img/people1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;*/
}
.right{
    width: 30%;
    height: 100%;
    max-height: 1024px;
    /*background-color: #ffd800;
    background-image: url("../img/people2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;*/
}
.social{
    margin-left: 100px;        
    margin-top: 35px;
}
.chamada{
	color: white;
	font-size: 30px;
    font-family: 'Raleway', sans-serif;
	font-weight: bold;
    margin-left: 25%;
    margin-top: 3%;
    padding:10px;
}
.botao{
    max-width:50px;
    max-height:50px;
    margin: 15px;
    
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;   
}
.botao:hover {
     -ms-transform: scale(1, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(1.2500);    
}
.formas{
    display: inline-block;
    width: 80%;
    margin-left: 10%;    
    margin-top: 3%;
}
.tinta{
    display: inline-block;
    width: 40%;
    background-image: url("../img/botao01.png");
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 0px;
    text-align: center;
    font-size: 30px;
    margin-right: 30px;    
    margin-bottom: 20px;
    
    border-radius: 20px 20px 20px 20px;
    
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;   
}
.tinta:hover {
     -ms-transform: scale(1, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(1.2500); 
}
.vem{
    border-radius: 20px 20px 20px 20px;
        background-image: url("../img/botao01.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.pro{
    width: 20%;
    background-image: url('../img/botao02.png');
    line-height: -70px;
}
.fies{
    width: 20%;
    background-image: url('../img/botao02.png'); 
}
.acafe{
    width: 45%;  
    line-height: -10px;
    margin-left: 25px;    
    background-image: url("../img/botao03.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.sou{
    width: 35%;  
}
.slogan{
    width: 60%;
    margin-left: 10%;
    margin-top: 4%;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;   
}
.slogan:hover{
     -ms-transform: scale(1, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(1.2500);    
}
.rodape{
    margin-top: 0%;
}
.logo{
    display: inline-block;
    color: #ffffff;
	margin-left: 10%;
    max-height: 100px;
    max-width: 100px;
}
.texto{
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
	margin-left: 5%;
	margin-top: 5%;
    max-width: 250px;
}
a{
    text-decoration-line: none;
    text-decoration: none;
    color: #ff3378;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
a:hover{
    color: white;
}
.topico{

}


@media only screen and (max-width: 1920px) {
    html,body{
        background: linear-gradient(to right, #ff3378 68%, #ffd800 10%);
    }
    .tinta{
        display: inline-block;
        width: 40%;
        background-image: url("../img/botao01.png");
        background-size: cover;
        background-repeat: no-repeat;
        font-size: auto;
    }

}
@media only screen and (max-width: 1680px) {
    html,body{
        background: linear-gradient(to right, #ff3378 66%, #ffd800 20%);
    }
}
@media only screen and (max-width: 1366px) {
    html,body{
        background: linear-gradient(to right, #ff3378 71%, #ffd800 20%);
    }
    .formas{
        margin-top: 0%;
    }
    .texto{
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        font-size: 75%;
    }
    .chamada{
        font-size: 150%;
    }
}
@media all and (max-width: 1024px) {
    html,body{
        background: none;
    }
    .corpo{
        display: block;
        background: none;
    }
    .left{
        display: inline-block;
        float: none;
        height: 90%;
        width: auto;
        background: #ff3378;
        background-image: url("../img/people1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;       
}
    .right{
        display: flex;
        height: 10%;
        width: auto;
        background: #ffd800;
}
    .social{
        width: 90%;
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;
    } 
    .slogan{
        width: 60%;
        margin-left: 10%;
        margin-top: 5%; 
    }
    .chamada{
        color: white;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding:10px;
    }
    .tinta{
        display: inline-block;
        width: 50%; 
        background-color: #ffd800;
        border-radius: 10px 20px 30px 40px;
        line-height: 0px;
        text-align: center;
        margin-right: 50px;    
        margin-bottom: 30px;
        border-radius: 20px 20px 20px 20px;

        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;   
    }
    .vem{
        margin-left: 0px;
        width: 70%;
        font-size: 40px;
    }
    .pro{
        width: 35%;
        background-image: url('../img/botao02.png');
        margin-left: 150px; 
        font-size: 40px;
    }
    .fies{
        width: 35%;
        background-image: url('../img/botao02.png');
        margin-left: 150px; 
        font-size: 40px;
    }
    .acafe{
        width: 70%;
        line-height: 15px;
        font-size: 40px;
        text-align: center;
        background-size: 410px;
        margin-left: 0px; 
    }
    .sou{
        margin-left: 0px;
        width: 70%;
        font-size: 40px;
    }
    .rodape{
        margin-left: -10%;
        margin-top: 10%;
    }
    .logo{
        display: inline-block;
        color: #ffffff;
        margin-left: 10%;
        height: auto;
        width: 100%;
    }
    .texto {
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        margin-left: 5%;
        margin-top: 5%;
        max-width: 300px;
        font-size: 25px;
    }
    .texto2{
        display: none;
    }
}
@media all and (max-width: 768px) {
    .left{
        height: 95%;
    }
    .right{
        height: 10%;
    }
    .slogan{
        width: 60%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .chamada{
        color: white;
        font-size: 180%;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 5%;
    }
    .vem{
        margin-left: -5%;
        width: 60%;
    }
    .pro{
        margin-left: -5%;
        width: 60%;
    }
    .fies{
        margin-left: -5%;
        width: 60%;
    }
    .acafe{
        margin-left: -5%;
        width: 70%;
    }
    .sou{
        margin-left: -5%;
        width: 60%;
    }
    .texto{
        font-size: 100%;
        margin: 0;
        margin-left: 10%;
    }
    .social{
        width: 80%;
        margin-left: 20%;
        display: flex;
    }
}
@media all and (max-width: 480px) {
    body{
        background-color: #ff3378;
    }
    .left{
        height: 85%;
        background-color: #ff3378;
    }
    .right{
        display: block;
        height: 15%;
    }
    .social{
        width: 80%;
        display: inline-block;
        margin: 0% 0% 0% 20%;
    }
    .slogan{
        width: 65%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .chamada{
        color: white;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-left: 5%;
    }
    .tinta{
        font-size: 100%;
        border-radius: 20px 20px 20px 20px;
    }
    .vem{
        margin-left: 0%;
        width: 60%;
    }
    .pro{
    
        margin-left: 0%;
        width: 60%;
    }
    .fies{
        margin-left: 0%;
        width: 60%;
    }
    .acafe{
        line-height: 0px;
        margin-left: 0%;
        width: 60%;
    }
    .sou{
        margin-left: 0%;
        margin-left: 0%;
        width: 60%;
    }
    .rodape{
        display: inline-flex;
        width: 140%;
        margin: 0%;
        margin-left: -40%;
    }
    .logo{
        margin-left: 30%;
        height: 25%;
        width: 25%;
    }
    .texto{
        font-size: 85%;
        font-weight: bold;
        height: 100%;
        width: 75%;
        margin-top: 0%;
        margin-right: 0%;
    }
    .botao{
        max-width:50px;
        max-height:50px;
        margin: 20px;
    }
}
@media all and (max-width: 360px) {
    body{
        background-color: #ff3378;
    }
    .left{
        height: auto;
        background-image: none;
    }
    .right{
        height: 10%;
        background-color: #ffd800;
        background-image: none;
    }    
    .social{
        width: 100%;
        margin-left: 0%;
        margin-top: -2%;
        display: flex;
    }
    .botao{ 
        max-width:40px;
        max-height:40px;
        margin: 15px;
    }
    .slogan{
        width: 80%;
        margin-left: 10%;
        margin-top: 7%;
    }
    .chamada{
        color: white;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 10%;
    }
    .tinta{
        font-size: 150%;
        border-radius: 20px 20px 20px 20px;
    }
    .vem{
        line-height: 5px;
        margin-left: 5%;
        width: 90%;
    }
    .pro{
        line-height: 5px;
        margin-left: 5%;
        width: 90%;
    }
    .fies{
        line-height: 5px;
        margin-left: 5%;
        width: 90%;
    }
    .acafe{
        line-height: 5px;
        margin-left: 5%;
        width: 90%;
    }
    .sou{
        line-height: 5px;
        margin-left: 5%;
        width: 90%;
    }
    .rodape{
        display: none;
        width: 100%;
    }
}
@media all and (max-width: 1024px) and (orientation: landscape) {
    html,body{
        background: none;
    }
    .slogan{
        width: 60%;
        margin-left: 10%;
        margin-top: 5%;    
    }
    .chamada{
        color: white;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-left: 20%;
        margin-top: 3%;        
        margin-bottom: 3%;
        padding:10px;
    }    
    .corpo{
        display: block;
        background: none;
    }
    .left{
        display: inline-block;
        float: none;
        height: 90%;
        width: auto;
        background: #ff3378;
        background-image: url("../img/people1.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;       
}
    .right{
        display: flex;
        height: 10%;
        width: auto;
        background: #ffd800;
}
    .social{
        width: 90%;
        margin-top: 0%;
        display: flex;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;
    }
    .formas{
        
        margin-top: 0;
    }
    .tinta{
        display: inline-block;
        border-radius: 20px 20px 20px 20px;    
        background-color: #ffd800;
    }
    .vem{
        width: auto;
        font-size: 200%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .pro{
        width: auto;
        font-size: 200%;
        font-size: 200%;
        padding-left: 4%;
        padding-right: 4%;
        margin-left: 0;
    }
    .fies{
        width: auto;
        font-size: 200%;
        padding-left: 4%;
        padding-right: 4%;
        margin-left: 0;
    }
    .acafe{
        width: auto;
        font-size: 200%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .sou{
        width: auto;
        font-size: 200%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .rodape{
        margin-left: 0%;
        margin-top: 5%;
    }
    .logo{
        display: inline-block;
        color: #ffffff;
        margin-left: 10%;
        height: 15%;
        width: 15%;
    }
    .texto {
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        margin-left: 5%;
        margin-top: 1%;
        font-size: 100%;
    }
    .texto2{
        display: none;
    }
}
@media all and (max-width: 768px) and (orientation: landscape){
    .left{
        width: 100%;
        height:  auto;
    }
    .right{
        height: 15%;
    }
    .slogan{
        width: 50%;
        margin-left: 15%;
        margin-top: 4%;
        margin-bottom: 1%;
    }
    .chamada{
        color: white;
        font-size: 75%;
        margin-left: 25%;
        margin-top: 0%;
    }
    .formas{
        display: block;
        width: 50%;
        margin-left: 20%;   
    }
    .social{
        display: flex;
        margin-top: 0%;
    }
    .botao{
        max-width:40%;
        max-height:40%;
    }
    .tinta{
        font-size: 13px;
        line-height: 0px;
        margin: 2%;   
    }
    .logo{    
        margin-left: 15%;   
        margin-top: 3%;
        max-height: 15%;
        max-width: 15%;
    }
    .texto{
        font-size: 60%; 
        width: 50%;
    }
}